@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}


.h1 {
  margin-top: 25px;
  text-align: center;
  border-radius: 12px;
  border-radius: 8px;
  background-color: #0f4c75;
  color: white;
  font-size: 40px;
  border-width: 50px;
}

.footer {
  background: #1e1e1f;
  color: white;
}

.links li a {
  color: white;
  transition: color .2s;
  text-decoration: none;
}

.links li a:hover {
  color: #4180CB;
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.buscador {
  width: 100%;
}

.buscador h1 {
  font-size: 32px;
  text-align: center;
}

.input-group {
  margin-left: 0%;
  width: 90%
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10%;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  padding-right: 200px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.input-group button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-left: 10%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #3e8e41;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formBusca {
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  flex: 1;
  width: 900px;
  margin-right: 10px;
  font-size: 16px;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.342);
}

.date-box {
  display: flex;
  flex: 1;
  max-width: 280px;
  margin-right: 10px;
}

.date-box input[type="date"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-right: 5px;
}

.guest-box {
  display: flex;
  flex: 1;
  max-width: 400px;
  margin-right: 15px;
}

.guest-box input[type="number"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-right: 5px;
}

.submit-box {
  flex: 1;
  margin-left: 20px;
  max-width: 400px;
}

.submit-box .btnReserva {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #6c5ce7;
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-box .btnReserva:hover {
  background-color: #4834d4;
}

.submit-box .btnBuscar {
  width: 70%;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  background-color: #6c5ce7;
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-box .btnBuscar:hover {
  background-color: #4834d4;
}

/* .buscador{
    position: relative;
} */
.navbar-nav {
  display: flex;
  flex-grow: 1;
}

.inicioSesion {
  margin-left: 60%;
  margin-top: 0.001%;
}

.registro {
  margin-left: 0.5%;
}

/* LOGIN */
.bgLogin {
  background-image: url("https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

#central {
  background-color: black;
  color: white;
  max-width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  border: solid;
}

.titulo {
  font-size: 250%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}


.raleway {
  font-family: 'Raleway', sans-serif;
}

#login {
  width: 100%;
  padding: 50px 30px;
  background-color: black;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  box-sizing: border-box;
}

#login input {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color: #ffffff;
  background-color: #000000;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 15px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
  font-family: 'Overpass', sans-serif;
  color: #E4E4E4;
}

#login button {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color: #1b262c;
  width: 100%;
  height: 40px;
  border: none;
  transition: all 0.5s;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin-top: 10px;
}

#login button:hover {
  background-color: #000000;
  color: white;
}

/* BUSCADOR HOTELES */
#buscadorHoteles {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 15px 15px;
  width: 98%;
  margin-top: 20px;
  margin-left: 5px;
}

.mapa {
  height: 90%;
}

a {
  text-decoration: none;
}

.formReserva {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formReserva>div {
  margin-right: 20px;
  margin-bottom: 10px;
}

.formReserva>div:last-child {
  margin-right: 0;
}

.formReserva label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.formReserva input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

.formReserva button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  background-color: #003580;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.formReserva button:hover {
  background-color: #002855;
}

.formReserva2 button {
  display: block;
  width: 100%;
  margin-right: 300px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.331);
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  background-color: #003580;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.formReserva2 button:hover {
  background-color: #002855;
}

.formReserva2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.reservacionTitulo {
  text-align: center;
  font-size: 30px;

}

.tituloReserva {
  text-align: center;
  font-size: 40px;
}

/* MI HOTEL */
.containerMiHotel {
  margin: auto;
  max-width: 800px;
  padding: 20px;
}

.hotel-details {
  display: flex;
  margin-bottom: 40px;
}

.hotel-image img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.hotel-info {
  flex: 1;
  margin-left: 20px;
}

.hotel-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.hotel-location {
  margin-bottom: 10px;
  font-style: italic;
}

.hotel-rating {
  margin-bottom: 10px;
}

.hotel-description {
  margin-bottom: 20px;
}

.book-now-button:hover {
  background-color: #0056b3;
}

.services-section,
.events-section,
.rooms-section {
  margin-bottom: 40px;
}

.services-list,
.events-list,
.rooms-list {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  gap: 20px;
}

.service,
.event,
.room {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.service img,
.event img,
.room img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.service h4,
.event h4,
.room h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.service p,
.event p,
.room p {
  margin-bottom: 5px;
}

.service-price,
.event-price,
.room-price {
  font-weight: bold;
}

.titleHotel{
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-top: 30px;
}

#btnOpciones {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #6c5ce7;
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}